.navbar {
  font-size: 1.7rem;
  background-color: black;
}

.navbrand {
  font-size: 1.95rem;
  min-width: 8rem;
  text-align: center;
}

.btn {
  border-width: 0.18rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
