.navbar {
  font-size: 1.7rem;
  background-color: black;
}

.navLinks {
  display: flex;
  justify-content: space-between;
}
.outLinks {
  max-width: fit-content;
  margin: 0;
  padding: 0;
  margin-right: 1.5rem;
}

.navbrand {
  font-size: 1.95rem;
  min-width: 8rem;
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.navbrand:link {
  text-decoration: none;
}

.navlink {
  margin-right: 0.3rem;
  text-decoration: none;
}

.navlink:hover {
  text-decoration: none;
}

.navlink:link {
  text-decoration: none;
}

.btn {
  border-width: 0.18rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
