.mainJumbo {
  background: url('/public/images/night-sky.webp'), url('/public/images/lqip/night-sky-lqip.webp'), black;
  background-size: cover;
  background-position: top;
}

/* entire page */
.wrapperFull {
  height: 100vh;
  margin: 0rem;
  padding: 0rem;
}

.belowNav {
  /* navbar height = 5rem, jumbotron margin-top = 1rem */
  height: calc(100vh - 5rem);
}
