.card {
  width: 18rem;
  margin-bottom: 1rem;
}

.title {
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

.description {
  font-size: 1.1rem;
}

.details {
  display: flex;
  margin-bottom: 0.5rem;
}

.detailsButton {
  font-size: 1.2rem;
  font-weight: 600;
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.linkButton {
  margin-bottom: 0.3rem;
}

.nextImageContainer {
  margin: 0rem;
  padding: 0rem;
  position: relative;
  width: 100%;
  padding-top: 100%;
}
